footer {
    background-color: black;
    height: 100px;
    width: 100%;
}

.text {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}